body {
    font-family: Arial;
    background: #f0f4f8;
    text-align: center;
}

.container {
    margin-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    margin: 20px auto;
    width: 700px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

input {
    padding: 8px;
    width: 60%;
    margin: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#stimulus {
    font-size: 90px;
    margin-top: 40px;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
}
